@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.white_box{
  background-color: #eff3f4;
  margin: auto;
  width: 940px;
}
.white_box__blue_box{
  background-color: #3274ae;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 230px;
}
.white_box__blue_box__content{
  background-color: #eaf4ff;
  border: #022336 solid 10px;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
}
/* 回答はここに書いてね */
