@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q7-1__float{
  overflow: hidden;
}
.q7-1__float__text{
  float: left;
  width:225px;
  box-sizing: border-box;
}
.q7-1__float .q7-1__float__text:last-child{
  margin-left: 50px;
}
.q7-2__table{
  display: table;
}
.q7-2__table__cell{
  display: table-cell;
  width: 225px;
  vertical-align: middle;
}
.q7-2__table .q7-2__table__cell:last-child{
  padding-left: 50px;
}
.q7-3__inline{
  font-size: 0px;
}
.q7-3__inline__text{
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  width: 225px;
}
.q7-3__inline__text:last-child{
  margin-left: 50px;
}
.q7-4__flex{
  align-items: flex-end ;
  display: flex;
  justify-content: space-around;
}
.q7-4__flex__text{
  width: 225px;
  box-sizing: border-box ;
}
.q7-5__inline_flex{
  font-size: 0;
}
.q7-5__inline_flex__inline {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
.q7-5__inline_flex__flex {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}
.q7-5__inline_flex__text{
  font-size: 16px;
}

/* 回答はここに書いてね */
