@charset "UTF-8";

/* 回答はここに書いてね */
.main{
  table-layout: fixed;
  width: 100%;
}
.main th{
  background-color: #2244aa;
  border: solid #dedede 1px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}
.main td{
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 0px;
  text-align: center;
}
.main tr{
  border: solid #dedede 1px;
}
.main tr:last-child{
  border-top:  dashed #000 2px ;
}
.main tr:nth-child(2n+1){
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
