@charset "UTF-8";

/* 回答はここに書いてね */
.q5-1__text_align{
  text-align: center;
}
.q5-1__text_align__text{
  background-color: #e6f2ff;
  display: inline-block;
  padding: 10px 0px;
  width: 90px;
}
.q5-1__margin{
  background-color: #e6f2ff;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  width: 90px;
}
.q5-2__table{
  display: table;
}
.q5-2__table__cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.q5-2__table__cell__text{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}
.q5-2__flex{
  align-items: center;
  display: flex;
  justify-content: center;
}
.q5-2__flex__text{
  background-color: #fff;
  padding: 10px;
}
.q5-2__position__stable{
  position: relative;
}
.q5-2__position__stable__text{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.q5-2__position__flexible{
  position: relative;
}
.q5-2__position__flexible__text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
