@charset "UTF-8";

/* 回答はここに書いてね */
.btn{
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}
.common{
  background-color:#00bcd4;
}
.error{
  background-color:#ff4081;
}
.disabled{
  background-color:#e5e5e5;
}
.shadow{
  background-color:#fff;
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}
.small{
  padding: 0 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
}
.middle{
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
}
.large{
  padding: 0 25px;
  border-radius: 7px;
  font-size: 24px;
  line-height: 38px;
}
.form{
  width: 700px;
  background-color: #ECF1F2;
  overflow: hidden;
  padding: 20px;
  margin: 0 auto;
}
.input_init{
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__title{
  margin-bottom: 20px;
  position: relative;
}
.form__title::before{
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 1px;
background-color: #ccc;
content: "";
}
.form__title__text{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}
.form__entry{
  width: 300px;
  float: left;
}
.form__entry__item{
  margin-top:20px;
}
.form__entry__item:first-child{
  margin-top:0px;
}
.item_tytle{
  width: 100px;
  float: left;
  text-align: right;
  margin-right: 20px;
  padding-top: 5px;
}
.text_entry{
  width: 160px;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.radio_entry{
  display: none;
}
.radio_box{
  display: inline-block;
  width:14px;
  height:14px;
  border:1px solid #ccc;
  border-radius:50%;
  background:transparent;
  cursor: pointer ;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
  margin: 5px;
  margin-left: 0px;
}
.radio_entry:checked +.radio_box:after{
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  width: 8px;
	height: 8px;
  background: #00BCD4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form__memo{
  width: 390px;
  float: left;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
.text_entry:focus{
  box-shadow: 0 0 7px #00BCD4;
}
.memo{
  width: 100%;
  height: 200px;
  padding: 10px;
}
.select{
    position: relative;
}
.select:after{
  display: block;
  position: absolute;
  top: 4px;
  right: 30px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.select_entry{
  width: 160px;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.form__sub{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}
.form__age{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}
.age_check{
  display: none;
}
.age_box{
  display: inline-block;
  width:16px;
  height:16px;
  border:1px solid #ccc;
  cursor: pointer ;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
  content: '';
  margin: 0 5px 5px 0;
}
.age_check:checked + .age_box:after{
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
}
.button {
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 0px 10px;
  background-color: #00BCD4;
  color: #ffffff;
  line-height: 26px;
  border: none;
}
.button:active {
  background-color: #FFF;
  color: #00BCD4;
}
.require{
  color: #F00;
}

/*spanタグを後列に追加後inputを不可視にする。
送信ボタンクリック時の色反転
for属性でも可能
*/
/* 回答はここに書いてね */
